/* Jégo-Ragas Océane
   ING4 OCRES TD06 
*/

/* définition de l'affichage de ma page */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nirmala UI;
}

/* couleur et taille de la barre de navigation du menu */
.topnav 
{
	width: 80%;
	margin: 20px auto;
	background-color: rgb(173, 201, 224);
	overflow: hidden;
  }
  
  /* style de la bar navigation */
  .topnav a 
  {
	float: right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Cpour changer les liens quand on clique dessus */
 .topnav a:hover 
  {
	background-color: #ddd;
	color: black;
  }
.topnav a.active
  {
	background-color: rgb(190, 229, 176);
	color: grey;
  }


/* corps de la page */
  .print-area
{
	width: 80%;
	margin: 20px auto;
	
}

/* pour modifier la taille du texte en header */
.print-area .header
{
	width: 100%;
	height: 150px; 
	background-color: rgb(190, 229, 176);
	display: flex; 
	align-items: center;
	position: relative;
}

/* affichage de l'image */ 
.header img
{
	width: 200px; 
	height: 200px; 
	border-radius: 50%;
	position:absolute;
	top: 50px; 
	left: 86px;
	border: 5px solid white;
	cursor: pointer;
	transition: .5s;
	user-select: none;
	filter: grayscale(0%); 			/* pour l'afficher en couleur */
}

/* pour l'afficher en noir et blanc quand on passe la souris dessus */
.header img:hover
{
	filter: grayscale(100%);
	transform: scale(1.05);
}

.header-text
{
	color: white; 
	width: 60%;
	margin-left: auto;
}

.header-text h1
{
	font-size: 70px; 
	font-weight: normal;
}

.header-text p
{
	font-size: 20px; 
	color: grey;
}


/* pour le contenu de la page */
.content
{
	display: flex;
	flex-wrap: wrap;
}

/* colonne gauche de la page */
.left-area
{
	width: 30%; 
	background-color: rgb(173, 201, 224);
	text-align: center;
}

.left-area .contact
{
	margin-top: 130px;
	padding: 0 30px; 
}

/* pour le formulaire de contact */
.contact h5
{
	font-size: 17px; 
	margin: 10px 0;
	line-height: 0.2; 
} 

.contact p
{
	font-size: 17px; 
	line-height: 1.0;
}

/* pour l'affichage de la catégorie des compétences */
.competences-skills
{
	margin-top: 30px; 
}

.competences-skills h1
{
	font-size: 30px;
	font-weight: normal;
}

.bars
{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px 10ox;
	padding: 0 20px; 
}


/*COLONNE DE DROITE */
.right-area
{
	width: 70%; 
	padding: 50px;
}

.right-area h1
{
	font-size: 35px; 
	font-weight: normal;
}

.right-area h1 span
{
	margin-right: 20px; 
	font-size: 50px;
	color: lightgray;
}

.right-area p
{
	padding-left: 20px;
	text-align: justify;
	word-break: break-all;
	font-size: 17px;
	color: gray;
	margin-top: 10px;
}

.sous-categorie
{
	margin: 10px 0; 
}

.work .sous-categorie
{
	position: relative;
}

.sous-categorie h3
{
	font-size: 22px;
	font-weight: normal;
	padding-left: 10px;
}

.sous-categorie h4
{
	font-size: 18px;
	padding-left: 20px;
	font-weight: normal;
	color: gray;
}

.sous-categorie span
{
	position: absolute;
	top: 10px; 
	right: 0;
	color: black;
	font-weight: bold;
	font-size: 15px;
}